/* Mobile */
@media only screen and (max-width: 765px) {
._1navbar-mob_button{
    display: block;
}
._1navbar_list {
    flex: 0 0 auto;
    display: none;
}
._1navbar {
    padding: 8px 12px;
}
._1navbar_logo a {
    font-size: 24px;
}
._3banner_main {
    width: 94%;
    left: 50%;
    flex-direction: column;
}
._3banner_text {
    font-size: 15px;
    line-height: 24px;
    margin: 0px 0 0;
    position: absolute;
    width: 100%;
    left: calc(50% - 0px);
    top: calc(50% + 194px);
    transform: translate(-50%, -50%);
}
._3banner_button {
    margin: 0;
    position: absolute;
    width: 100%;
    left: calc(50% - 0px);
    top: calc(50% + 280px);
    transform: translate(-50%, -50%);
}
._bg_img_man {
    position: absolute;
    width: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% + 57px);
    height: auto;
    z-index: 10;
}
._bg_img_man_sha {
    bottom: -23px;
    width: 85%;
    height: auto;
    left: 50%;
    top: calc(50% + 72px);
    transform: translate(-50%, -50%);
}
._3banner {
    height: 91vh;
}
._bg_img_man {
    transform: translate(-50%, -50%);
    top: calc(50% + 123px);
    height: auto;
    z-index: 10;
}
._bg_img_man_sha {
    bottom: -23px;
    width: 90%;
    height: auto;
    left: 50%;
    top: calc(50% + 138px);
    transform: translate(-50%, -50%);
}
._3banner_right {
    flex: auto;
    max-width: 100%;
    position: relative;
}
._3banner_left {
    flex: 0 0 22%;
    max-width: 100%;
    position: relative;
}
._3banner_title {
    position: absolute;
    width: 100%;
    left: calc(50% - 0px);
    top: calc(50% - 4px);
    margin-top: 68px;
    font-size: 36px;
    line-height: 47px;
}
}
/* Mobile */

/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1010px) {
._3banner_button {
    margin: 20px 0 0;
    left: calc(50% - 0px);
    top: calc(50% + 139px);
    transform: translate(-50%, -50%);
}
._3banner_text {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 0;
    left: calc(50% - 0px);
    top: calc(50% + 62px);
    transform: translate(-50%, -50%);
}
._3banner_title {
    left: calc(50% - 0px);
    top: calc(50% - 216px);
    margin-top: 139px;
    font-size: 36px;
    line-height: 43px;
}
._1navbar {
    padding: 15px 20px;
}
._1navbar_list li {
    display: inline-block;
    margin-left: 13px;
}
._1navbar_button {
    display: none;
}
._bg_img_man {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% + 57px);
}
._bg_img_man_sha {
    bottom: -23px;
    width: 100%;
    left: 50%;
    top: calc(50% + 72px);
    transform: translate(-50%, -50%);
}
}
/* Ipad */

/* Desktop 1366 */
@media only screen and (max-width: 1500px) {

    
}

/* Macbook */
@media screen and (min-width: 1020px) and (max-width: 1280px) {
._3banner_title {
    font-size: 50px;
    line-height: 58px;
}
._bg_img_man {
    width: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(50% + 72px);
}
._bg_img_man_sha {
    width: 96%;
    left: 50%;
    top: calc(50% + 100px);
    transform: translate(-50%, -50%);
}
}